.game-list {
    display: flex;
    flex-wrap: wrap;
    
}
.game-card {
    margin: 10px;
    padding: 5px;
    border: black;
    border-width: 5px;
    border-style: solid;
    justify-content: space-evenly;
}
.add-button{
    text-align: center;
}
